<div class="cart" *ngIf="showCart">
  <div class="top">
    <p class="number">Your cart ({{ totalItems }})</p>

    <button class="clear" (click)="clearCart()">Clear Cart</button>
  </div>
  <div class="cart__item" *ngFor="let product of cartItems">
    <img [src]="product.image" alt="" />

    <div class="item-details">
      <p>{{ product.name }}</p>
      <div class="price">
        <p>{{ product.quantity }}x</p>
        <p>{{ product.price | currency }}</p>
      </div>
      <p>Total: {{ product.quantity * product.price | currency }}</p>
    </div>

    <button class="btn" (click)="removeFromCart(product.id)">
      Remove Item
    </button>
  </div>
</div>
